<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <%- include('navbar', {links: links}) %>
    <h1>Books</h1>
    <!-- display all Books in db -->
    <!-- contains name, image  -->
</body>
</html>