<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>
<body>
    <a href="./">Back</a>
    <h1>Add a book:</h1>
    <form action="/books" method="post">
        <label for="title"></label>
        <input type="text" placeholder="Title" id="title" name="title">
        <label for="author"></label>
        <input type="text" placeholder="Author" name="author">
        <label for="description"></label>
        <textarea name="description" id="description" placeholder="description" name="description"></textarea>
        <label for="price"></label>
        <input type="number" name="price" id="price" placeholder="price" name="price" step=".01">
        <label for="quantity"></label>
        <input type="number" placeholder="quantity" name="quantity">
        <select name="genre_id" id="genre">
            <% genres.map( genre => { %>
                <option value="<%= genre.id %>" ><%= genre.genre %></option>
            <% }) %>
        </select>
        <button>Add</button>
    </form>
</body>
</html>