<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <a href="./">Back</a>
    <h1><%= title %></h1>
    <% if (data[0].id !== null) { %>
        <%- include("partials/books",{books: data}) %>
    <% } else {%>
        <h3> No Books Found</h3>
    <%}%>
    <a href="/books/new">Add a book</a>
</body>
</html>