<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
</head>
<body>
    <%- include('navbar', {links: links}) %>
    <h1>Genres</h1>
    <!-- display all Genres in db -->
    <!-- contains: name, desc, generalized image -->
</body>
</html>