<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome</h1>
    <div id="home-navigation">
        <div>
            <img src="" alt="product-img">
            <a href="/products">Products</a>
        </div>
        <div>
            <img src="" alt="category-img">
            <a href="/categories">Categories</a>
        </div>
        <div>
            <img src="" alt="account-img">
            <a href="/users">Account</a>
        </div>
    </div>
    
</body>
</html>