<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <%- include('navbar', {links: links}) %>
    <h1>Orders</h1>
    <!-- display all orders in db -->
    <!-- order info contains: name and order number -->
    <ul>
        <% orders.map(order => { %>
            <li>
                <div><%= order.name %></div>
                <div><%= order.order_number %></div>
            </li>
        <% }) %>
    </ul>
    <h3>Create a new order</h3>
    <form action="/" method="post">
        <!-- new order form -->
    </form>
</body>
</html>