<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users
    </title>
</head>
<body>
    <a href="/homepage">Home</a>
    <h1>Users</h1>
    <!-- display first and last name, password, username ,email, dob, address, phone -->
</body>
</html>